<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-2">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <!--Ejemplo de one-way binding!-->
    <h1>Hello [[prop1]]!</h1>
    <h2>Nombres: [[name]]</h2>
    <h2>Apellidos: [[lastname]]</h2>
    <h2>Age: [[age]] añitos...</h2>
    <!--Ejemplo de two-way binding!-->
    <!--{{name::input}} se declara ::input en polymer para que funcione-->
    <h2>Nombres: <input type="text" value={{name::input}} /> </h2>
    <h2>Apellidos: <input type="text" value={{lastname::input}} /> </h2>
    <h2>Seleccione su edad <input type="range" min="18" max="120" value={{age::input}} /> </h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Componente2 extends Polymer.Element {
      static get is() { return 'componente-2'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          name: {
            type: String
          },
          lastname: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(Componente2.is, Componente2);
  </script>
</dom-module>
