<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movements">
  <template>
    <style>
      :host {
        display: block;
        color:black;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <div>
    <h5 align = "center-block"></h5>
    <iron-ajax
      auto=""
      id="getmovements"
      url="http://localhost:3000/colapi/v3/accounts/{{iban}}/movements"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
    <table class="table">
     <thead class="thead-blue">
       <tr>
         <th scope="col">Id</th>
         <th scope="col">Fecha</th>
         <th scope="col">Importe</th>
         <th scope="col">Descripción</th>
       </tr>
     </thead>
     <tbody>
     <template is="dom-repeat" id="movementsUser" items="{{movements}}">
       <tr class="thead-light" hidden$="{{!isView}}">
             <td scope="row">{{item.id_mov}}</td>
             <td scope="row">{{item.fecha}}</td>
             <td scope="row">{{item.importe}}</td>
             <td scope="row">{{item.descripcion}}</td>
       </tr>
     </template>
       <tr><td></td></tr>
       <tr class="thead-light" hidden$="{{isView::input}}">
         <td scope="row" colspan="4">
           <div class="alert alert-info" style="position:absolute; margin-top">
             <strong>Info!</strong> {{msgacc}}.
           </div>
         </td>
       </tr>
      </tbody>
    </table>
<!--    <template is="dom-repeat" items={{movements}}>
            <div class="row">
           <h2 class="col-md-5">id_mov {{item.id_mov}} <br /> fecha {{item.fecha}}<br />importe {{item.importe}} <br /></h2>
           <h2><br />
                <a class="btn btn-link" href="http://localhost:3000/colapi/v3/movements/{{item.id_mov}}/movements">Ver descripcion</a>
           </h2>
      </div>
    </template>-->
  </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovements extends Polymer.Element {
      static get is() { return 'visor-movements'; }
      static get properties() {
        return {
          id_mov: {
            type: String
          }, fecha:{
            type: String
          }, importe:{
            type: String
          }, movements:{
            type: Array
          }, isView: {
          type: Boolean,
          value: false
        }
        };
      }
      showData1(data1){
        console.log("datos en movements..."+JSON.stringify(data1));
        console.log("datos iban acc..."+data1.iban);
        if (data1.iban != 0){
          this.iban = data1.iban;
          this.isView = true;
        }else{
          this.isView = false;
        }
      }
      showData(data){
          var m = data.detail.response.msg;
          var r = data.detail.response.rt;
          console.log(data.detail.response.rta);
          console.log("entro..."+m);
          console.log("r..."+r);
          if (r > 0){
            this.movements = data.detail.response.rta;
            this.isView = true;
          }else{
            this.isView = false;
            this.msgacc = data.detail.response.msg;
          }
      }
    }
    window.customElements.define(VisorMovements.is, VisorMovements);
  </script>
</dom-module>
