<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-user">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <span>
      <div width = "90%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="navbar-brand" href="#">Bienvenido, {{first_name}} {{last_name}}</div>
        </nav>
      </div>
    </span>
    <!--
    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-danger">Danger</button>-->
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/colapi/v3/users/{{uid}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>
    <!--handleResponse-->
  </template>

  <script>
      /**
     * @customElement
     * @polymer
     */
    class VisorUser extends Polymer.Element {
      static get is() { return 'visor-user'; }
      static get properties() {
        return {
          id: {
            type: String
          }, first_name:{
            type: String
          }, last_name:{
            type: String
          }, email:{
            type: String
          }
        };
      }
      showData2(data1){
        console.log("datos en users..."+JSON.stringify(data1));
        console.log("datos usuario users..."+data1.usuario);
        if (data1.usuario != 0){
          this.uid = data1.usuario;
          this.isView = true;
        }else{
          this.isView = false;
        }
      }
      showData(data){
        //console.log(data);
        console.log("Datos recibidos:" +data);
        //mlab nos devuelve un array con el objeto solicitado por eso [0]
        var js = data.detail.response;
        var id = data.detail.response.id;
        var fn = data.detail.response.first_name;
        var ln = data.detail.response.last_name;
        var em = data.detail.response.email;
        console.log("Id:" +id);
        console.log("name:" +fn);
        console.log("lastname:" +ln);
        console.log("email:" +em);
        this.id = id;
        this.first_name = fn;
        this.last_name = ln;
        this.email = em;

      }
    }
    window.customElements.define(VisorUser.is, VisorUser);
  </script>
</dom-module>
