<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="/src/componente-2/login-user.html">
<link rel="import" href="/src/componente-2/logout-user.html">
<link rel="import" href="/src/componente-2/visor-user.html">
<link rel="import" href="/src/componente-2/visor-accounts.html">
<link rel="import" href="/src/componente-2/visor-movements.html">

<dom-module id="demo-manejador">
  <template>
    <style>
      :host {
        display: block;
      }
      .div1	{
         margin: auto;
	     }
      .div2	{
        width: 100 px;
        float: left;
	     }
       .div3	{
         width: 100 px;
         float: right;
     		float:right;
         vertical-align: middle;
 	     }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div hidden$="{{isLogged::input}}">
        <login-user id="login"></login-user>
          <div class="alert alert-info" hidden$="{{!isHMsg::input}}" style="position:absolute; margin-top">
            <strong>Info!</strong> {{rta}}.
          </div>
    </div>
    <div class="div1 position:absolute; margin-top" hidden$="{{!isAccounts::input}}">
      <div class="div2 row">
        <visor-user id="user" uid="{{usuario}}"></visor-user>
      </div>
      <div class="div3 row vertical-align:middle">
       <logout-user id="logout"></logout-user>
     </div>
     <div class="position:absolute; margin-top">
       <visor-accounts id="accounts" user_id="{{usuario}}"></visor-accounts>
     </div>
    </div>

    <div class="div1 position:absolute; margin-top" hidden$="{{!isMovements::input}}">
      <div class="div2 row">
        <visor-user id="user" uid="{{usuario}}"></visor-user>
      </div>
      <div class="div3 row vertical-align:middle">
       <logout-user id="logout1"></logout-user>
     </div>
      <div class="position:absolute; margin-top">
        <visor-movements id="movements" iban="{{iban}}"></visor-movements>
      </div>
    </div>
<!--    <span hidden$="{{!isMovements::input}}">
        <logout-user id="logout"></logout-user>
        <visor-accounts id="movements" user_id="{{IBAN}}"></visor-accounts>
    </span>
    <demo-login id="login"></demo-login>
    <demo-accounts id="accounts"></demo-accounts>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class demoManejador extends Polymer.Element {
      static get is() { return 'demo-manejador'; }
      ready(){
        super.ready();
        this.$.login.addEventListener('loginOk', e => {this.procesarLogin(e)});
        this.$.accounts.addEventListener('CtasOk', e => {this.procesarCtas(e)});
        this.$.logout.addEventListener('logouOk', e => {this.procesarLogout(e)});
        this.$.logout1.addEventListener('logouOk', e => {this.procesarLogout(e)});
      }
      static get properties() {
        return {
        isLogged: {
          type: Boolean,
          value: false
        },
        isAccounts: {
          type: Boolean,
          value: false
        },
        isMovements: {
          type: Boolean,
          value: false
        },
        isHMsg: {
          type: Boolean,
          value: false
        },
        rta: {
          type: String
        }
        };
      }
      procesarLogin(e){
        console.log(e.detail);
        this.isLogged = e.detail.lin;
        if(!this.isLogged){
          this.isAccounts = false;
          this.isMovements = false;
          this.rta = e.detail.rt;
          this.isHMsg = true;
        }else{
          this.isAccounts = true;
          this.isMovements = false;
          this.usuario = e.detail.usuario;
          this.uemail = e.detail.em;
          console.log("datalin..."+e.detail.lin);
          console.log("datausuario..."+e.detail.usuario);
          this.$.user.showData2(e.detail);
          this.$.accounts.showData1(e.detail);
        }
      }
      procesarLogout(e){
        console.log(e.detail);
        this.usuario = e.detail.usuario;
        this.isLogged = e.detail.lou;
        console.log("datalou..."+e.detail.lou);
        this.isHMsg = false;
        console.log("valor..."+this.isHMsg);
        if(!this.isLogged){
          this.isAccounts = false;
          sessionStorage.setItem("email", "");
          this.isMovements = false;
        }else{
          this.isAccounts = true;
          this.isMovements = false;
        }
      }
      procesarCtas(e){
        console.log(e.detail);
        this.usuario = e.detail.usuario;
        this.isMovements = e.detail.lct;
        this.isLogged = true;
        if(!this.isMovements){
          this.isAccounts = true;
          this.rta = e.detail.rt;
        }else{
          this.isAccounts = false;
          this.iban = e.detail.iban;
          console.log("lct..."+e.detail.lct);
          console.log("iban..."+e.detail.iban);
          this.$.user.showData2(e.detail);
          this.$.movements.showData1(e.detail);
        }
      }
    }
    window.customElements.define(demoManejador.is, demoManejador);
  </script>
</dom-module>
