<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/componente-2/visor-accounts.html">
<link rel="import" href="/src/componente-2/login-user.html">

<dom-module id="demo-controlador">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <login-user id="login"></login-user>
    <visor-accounts id="accounts" user_id="{{usuario}}"></visor-accounts>
<!--    <demo-login id="login"></demo-login>
    <demo-accounts id="accounts"></demo-accounts>-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class demoControlador extends Polymer.Element {
      static get is() { return 'demo-controlador'; }
      ready(){
        super.ready();
        this.$.login.addEventListener('loginOk', e => {this.procesarLogin(e)});
      }
      static get properties() {
        return {
        };
      }
      procesarLogin(e){
        console.log(e.detail);
        this.usuario = e.detail.usuario;
        console.log("datausuario..."+e.detail.usuario);
        this.$.accounts.showData1(e.detail);
      }
    }
    window.customElements.define(demoControlador.is, demoControlador);
  </script>
</dom-module>
