<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <h1 align-items-center>Page not Found!!!</h1>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class pageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {
        };
      }
    }

    window.customElements.define(pageNotFound.is, pageNotFound);
  </script>
</dom-module>
